@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
  /* box-sizing: border-box; */
  scroll-behavior: smooth;
  font-family: "Be Vietnam Pro", sans-serif;
}

:root {
  --bgOrange: #e84949;
}

#wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;

  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}
.logo{
  border-radius: 55px;
  padding: 2px;
}

.logo-container {
  display: flex;
  gap: 1rem;
  justify-content: baseline;

  align-items: center;
}

.logotext {
  margin-left: -1.2rem;
  font-size: 28px;
}

.nav-items {
  display: flex;

  gap: 2rem;
  padding: 0 4rem;
}

.nav-items div {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.nav-items a {
  text-decoration: none;
  color: black;
}

.nav-items div:hover {
  font-weight: bold;
  transition: all 0.8s linear;
}

@media (max-width: 1500px) {
  .nav-items {
    padding: 0 8em;
  }
}
@media (max-width: 1000px) {
  .nav-items {
    display: none;
  }
}

.hero-section {
  display: flex;

  position: relative;
  justify-content: center;
  align-items: center;

  gap: 5rem;
  margin: 4rem auto;

  padding: 0 1rem;

  padding-bottom: 8rem;
}

.fadedtext {
  user-select: none;
  font-size: 7em;
  color: rgb(231, 231, 231);

  bottom: -16%;
  left: -5%;
  z-index: -0;

  font-weight: bold;
  transition: all 3s;

  position: absolute;
}

.hero-section-left {
  display: flex;
  flex-direction: column;

  justify-content: center;

  gap: 2rem;
}

.hero-section-heading {
  font-size: 35px;
  color: #343d68;
  font-weight: 500;
}

.role {
  color: #4e45d5;
  font-weight: 800;
}

.hero-section-sub-haeding {
  font-size: 45px;
  line-height: 45px;
}

.hero-section-description {
  margin-top: 1rem;
  width: 70%;
  font-weight: 500;
}

.btn-pink {
  background-color: var(--bgOrange);
  width: fit-content;
  padding: 0.8rem 2.8rem;
  color: white;
  font-size: 18px;
  box-shadow: 5px 5px 7px 0px #00003f;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 500;
  border: solid 3px transparent;

  position: relative;
  z-index: 1;
}

.btn-pink::before {
  content: "";
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.8s;
  z-index: -1;
}

.btn-pink:hover::before {
  transform: scaleX(1);
}

.btn-pink:hover {
  border: solid 3px var(--bgOrange);
  color: black;
  transform: perspective(100px) translateZ(-5px);
  font-weight: bold;
}

.hero-section-right {
  position: relative;
}

.absolute {
  position: absolute;
}

.user-image {
  padding: 2.5rem;
  filter: grayscale(1);
  transition: all 1s;

  animation: scaleImage 5s linear infinite;
}

.user-image img {
  z-index: -9;
}

@keyframes scaleImage {
  0% {
    filter: grayscale(0);
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
    filter: grayscale(1);
    box-shadow: 3px 3px 10px black;
  }

  100% {
    transform: scale(1);
    filter: grayscale(0);
  }
}

.icon-dots {
  z-index: 9;
  bottom: -1rem;
  right: 0;

  animation-name: dotanimation;
  animation: 5s;
  animation-iteration-count: infinite;
}

@keyframes dotanimation {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

.icon-cube {
  top: -0.8em;
  right: 1em;
  animation-name: cubeRotate;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes cubeRotate {
  0% {
    transform: rotateY(0deg) translateY(0px);
  }
  50% {
    transform: rotateY(180deg) translateY(-12px);
  }
  100% {
    transform: rotateY(360deg) translateY(0px);
  }
}

.icon-circle {
  z-index: 9;
  left: 0;
  bottom: 0;
  animation-name: shakeffect;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes shakeffect {
  50% {
    bottom: 10%;
    left: 5%;
  }
}

.icon-zigzak {
  z-index: 9;
  top: 1.5em;
  left: -0.3em;
  animation-name: zigzag;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes zigzag {
  50% {
    top: 2%;
    left: 5%;
  }
}

.icon-plus {
  z-index: 9;
  top: -0.8rem;
  left: 50%;
  animation-name: shadein;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes shadein {
  50% {
    top: 3%;
    left: 48%;
  }
}

#btn-bottom {
  display: none;
}

@media (max-width: 1300px) {
  .hero-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: -1rem;
    padding-bottom: 3rem;
  }
  .hero-section-description {
    text-align: center;
    margin: auto;
  }
  .fadedtext {
    display: none;
  }
  #btn-top {
    display: none;
  }
  #btn-bottom {
    margin-top: -7rem;
    display: block;
  }
  .hero-section-right {
    margin-top: -6em;
    scale: 0.7;
  }
}

/* project-section */

.project-section {
  background-color: rgb(231, 231, 231);
  margin-top: 4rem;
}

.page-header {
  text-align: center;
  font-size: 90px;
  color: var(--bgOrange);
  padding-top: 30px;
}

.project-container {
  max-width: 1200px;

  margin: 0 auto;

  padding: 3rem 0;

  display: flex;
  flex-direction: column;

  gap: 120px;
}

.project-card {
  width: 90%;
  height: 550px;
  background-image: url(projects/Project1.png);
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;

  box-shadow: 0px 0px 40px #1f1f1f;
}

.project-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #1f1f1f9a;

  transform: scaleX(1);
  z-index: 0;
}

.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}

.project-card:hover::before {
  transform: scaleX(1);
}

.project-number {
  position: absolute;
  font-size: 200px;
  font-weight: 600;
  color: white;
  z-index: 10;
  display: none;
  transition: all 0.4s;
}

.project-card:hover .project-number {
  display: block;
}

.project-number-left {
  right: -40px;
  top: -45px;
}

.project-number-right {
  left: -40px;
  top: -45px;
}

.project-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2em;
  bottom: 20%;
  z-index: 5;
  gap: 1em;
  transition: all 0.4s;
}

.project-content-left {
  left: 10%;
}

.project-content-right {
  right: 10%;
}

.project-skill-container {
  max-width: 60%;
  width: fit-content;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  transition: all 0.2s;
  border-radius: 5px;
}

.project-skill {
  width: 40px;
}

.project-heading {
  font-size: 50px;
  font-weight: bold;
  line-height: 3rem;
}

.project-sub-heading {
  width: 70%;
  font-size: 16px;
  font-style: italic;
}

.btn-group {
  display: flex;
  gap: 0.9rem;
}

.btn-project:hover {
  border: none;
}

.icon {
  cursor: pointer;
  color: white;
  font-size: 35px;
  transition: all 0.4s;
}

.icon:hover {
  color: #e84949;
}

.project-card:hover .project-content {
  transform: scale(1.1);
}

#project1 {
  background-image: url(projects/Project1.png);
}
#project2 {
  background-image: url(projects/Project2.png);
  margin-left: 120px;
}
#project3 {
  background-image: url(projects/Project3.png);
}
#project4 {
  background-image: url(projects/Project4.png);
  margin-left: 120px;
}

@media (max-width: 1300px) {
  .page-header {
    padding-top: 30px;
    color: var(--bgOrange);
    text-align: center;
    font-size: 40px;
  }
  .project-container {
    padding: 5px;
    margin: 10px;
    gap: 60px;
  }
  .project-card {
    width: 100%;
    height: 300px;
  }
  .project-card {
    background-size: cover;
    background-position: center;
  }
  .project-content {
    scale: 0.5;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }
  .project-content-left {
    left: 0;
  }
  .project-heading {
    font-size: 40px;
    width: 100%;
  }
  .project-sub-heading {
    width: 100%;
  }
  #project2 {
    margin-left: 0;
  }
  #project4 {
    margin-left: 0;
  }
  .project-skill-container {
    width: 100%;
  }
  .project-skill {
    width: 35px;
  }
  .project-card:hover .project-number {
    display: none;
  }
  .project-card:hover .project-content {
    scale: 0.55;
  }
}

/* skill container */

.skills-container {
  position: relative;
  display: flex;
  padding: 5rem;
  margin: 10rem auto;
  gap: 30px;
}

.skill-container-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.skill-container-right {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  position: relative;
  gap: 2rem;
  justify-content: center;
}

.skill-faded-text {
  user-select: none;
  font-size: 15em;
  color: rgb(231, 231, 231);

  bottom: -34.5%;
  right: -25%;
  font-weight: bold;
  transition: all 3s;
  position: absolute;

  overflow-y: hidden;
}

.blob-style {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  animation: blobanimate 3s linear infinite;
  z-index: -5;
}

@keyframes blobanimate {
  50% {
    top: 54%;
    left: 56%;
  }
}

.skills-logo {
  width: 90px;
  transition: all 0.5s;
}

.skills-logo:hover {
  transform: scale(1.2);
}

.skill-heading {
  font-size: 50px;
  font-style: bold;
  color: #e84949;
  line-height: 50px;
}

.caps {
  font-size: 90px;
}

.skill-subHeading {
  margin-top: 1rem;
  width: 85%;
  text-align: justify;
}

.skill-subHeading p {
  margin: 15px 0;
}

@media (max-width: 1300px) {
  .skills-container {
    margin: 0;
    padding: 2em;
    flex-direction: column;
  }
  .skill-heading {
    font-size: 40px;
    font: bold;
  }
  .caps {
    font-size: 60px;
  }
  .skill-container-left {
    width: 100%;
  }
  .skill-container-right {
    width: 100%;
  }
  .skills-logo {
    width: 50px;
  }
  .skill-faded-text {
    display: none;
  }
  .skill-subHeading {
    width: 100%;
  }
  .skill-heading::after {
    bottom: 9%;
  }
}

/* contact us */

.contactus-form-container {
  width: 100%;

  background-color: rgb(231, 231, 231);
}

.contactus-heading {
  font-size: 5rem;
  color: #e84949;
  padding-top: 2rem;
}

.contact-us-subheading {
  font-size: 3rem;
  color: #343d68aa;
  text-transform: capitalize;
}

.contactus-form-container {
  display: flex;
  /* flex-direction: column; */

  margin-top: 25px;

  align-items: center;

  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;

  gap: 30px;
  width: 70%;

  margin: 2rem 5rem;
}

.formfield-container {
  width: 100%;
}

.formfield {
  background-color: rgb(245, 245, 245);
  width: 100%;

  height: 42px;

  padding: 0 2rem;

  font-size: 18px;

  border-radius: 5px;

  box-shadow: 2px 2px 10px #1f1f1f;

  font-weight: 500;

  border: none;

  margin-top: 27px;
}

.formfield-textarea {
  height: auto;
  padding-top: 1rem;
}

#submit-btn {
  border: none;
  font-size: 1.4rem;

  margin: 1rem 0;
}

#submit-btn:hover {
  scale: (0.9);
}

.submit-icon {
  padding: 0 1rem;
  font-size: 1.5rem;
}

@media (max-width: 1300px) {
  .contactus-heading {
    font-size: 40px;
    text-align: center;
    padding: 15px 10px;
  }

  #submit-btn {
    border: none;
    font-size: 1rem;

    margin: 1rem 0;
  }

  .contact-us-subheading {
    font-size: 20px;
    padding: 0 10px;
    text-align: center;
  }
  .form {
    max-width: 100%;
    margin: 0;
    align-items: center;
  }
  .formfield-container {
    /* display: flex;
    align-items: center; */
    width: 90%;
  }
  .formfield {
    max-width: 90%;

    /* display: flex;
    align-items: center; */
  }
}
/* 
footer */

footer {
  position: relative;
  margin-top: -1px;
  background-color: #343d68;
  padding: 5rem;
}

.footer-wrapper {
  display: flex;
  gap: 1rem;
  padding: 1.2rem;

  justify-content: space-between;

  align-items: center;
}

.footer-faded-text {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #535c87;
  user-select: none;
  font-size: 5em;
}

.link-wrapper {
  display: flex;

  gap: 1.2rem;
}

.link-wrapper div a {
  color: white;
  text-decoration: none;
  transition: all 0.6s;
}

.link-wrapper div a:hover {
  color: #e84949;
  text-decoration: none;
}

.icon-wrapper {
  display: flex;
  gap: 1rem;
}

@media (max-width: 1300px) {
  footer {
    padding: 0.5rem;
  }
  .footer-wrapper {
    flex-direction: column;
    gap: 1.5rem;
  }
  .footer-faded-text {
    display: none;
  }
}
